/* src/styles/custom.css */

:root {
  --sl-color-accent-low: #e0f2fe;
  --sl-color-accent: #0284c7;
  --sl-color-accent-high: #0369a1;

  --sl-content-width: 50rem;
}

:root[data-theme='dark'] {
  --sl-color-bg: #0b0f19;
  --sl-color-bg-nav: #111827;
  --sl-color-text: #e2e8f0;

  --sl-color-accent-low: #082f49;
  --sl-color-accent: #38bdf8;
  --sl-color-accent-high: #bae6fd;
}

.expressive-code {
  border-radius: 8px;
}
